{# ShowPartner include ds admin/showpartner and partner/partner #}

<div class="d-flex justify-content-around flex-wrap container mt-5">

	<div class="card " style="width: 18rem;">
		<div class="card-body">
        {% if partner %}
            <h5 class="card-title">Fitness Drive -
                {{partner.namePartner}}
            </h5>
            <div class="d-flex justify-content-between">
                    <p class="text-muted">Gérer par
                        {{partner.user.username}}
                    </p>
                {% endif %}

                    <!-- Partner Active ? -->
                    <p>{{ partner.isActive ? '<span class="p-2">Active</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-primary" viewbox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>' :'<span class="p-2">InActive</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-danger" viewbox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>'}}
                    </p>
            </div>
            <p class="card-text">
                <ul>
                    <li>
                        <a h ref="#">lien interne - Voir les permissions globales</a>
                    </li>
                    <li>
                        <a class="info" href="mailto:{{partner.user.email}} "><i class="fa fa-envelope p-2" aria-hidden="true"></i>{{partner.user.email}}</a>
                    </li>
                    <li>
                        <a class="info" href="tel:{{partner.phone}} "><i class="fa fa-phone p-2" aria-hidden="true"></i>{{partner.phone}}</a>
                    </li>
                </ul>
            </p>
		</div>
        <div class="card-footer d-flex justify-content-center">
			<a type="button" class="btn-sm btn-warning" href="{{ path('partner_edit', {'id': partner.id}) }}">Modifier</a>
		</div>	    
	</div>			
</div>
