<aside>
	<div class="sidebar">
		<div class="sidebar-menu">
			<li class="item" id="user">
				<a href="#user" class="menu-btn" alt="Compte Utilisateur" title="Compte Utilisateur">
					<i class="fas fa-user" ></i>
					<span class="d-none d-md-block  " >Utilisateur<i class="fas fa-chevron-down drop-down"></i>
					</span>
				</a>
				<div class="sub-menu">
					<a href=" {{ path('app_user_list')}} " alt="Liste" title="Liste">
						<i class="fa fa-bars "></i>
						<span>Liste</span>
					</a>
					<a href="{{ path('user_new') }}" alt="Ajouter" title="Ajouter">
						<i class="fa fa-plus "></i>
						<span>Ajouter</span>
					</a>
				</div>
			</li>
			<li class="item" id="partner">
				<a href="#partner" class="menu-btn" alt="Franchise" title="Franchise">
					<i class="fa-regular fa-address-book"></i>
					<span class="d-none d-md-block ">Franchise<i class="fas fa-chevron-down drop-down"></i>
					</span>
				</a>
				<div class="sub-menu">
					<a href="{{ path('app_admin_partnerList') }}" alt="Liste" title="Liste">
						<i class="fa fa-bars "></i>
						<span>Liste</span>
					</a>
					<a href="{{ path('new_partner') }}" alt="Ajouter" title="Ajouter">
						<i class="fa fa-plus "></i>
						<span>Ajouter</span>
					</a>
				</div>
			</li>
			<li class="item" id="structure">
				<a href="#structure" class="menu-btn" alt="Structure" title="Structure">
					<i class="fa-regular fa-address-card"></i>
					<span class="d-none d-md-block ">Structure<i class="fas fa-chevron-down drop-down"></i>
					</span>
				</a>
				<div class="sub-menu">
					<a href="{{path('app_structureList')}}" alt="Liste" title="Liste">
						<i class="fa fa-bars "></i>
						<span>Liste</span>
					</a>
					<a href="{{ path('new_structure') }}" alt="Ajouter" title="Ajouter">
						<i class="fa fa-plus "></i>
						<span>Ajouter</span>
					</a>
				</div>
			</li>
			<li class="item" id="permissions">
				<a href="#permissions" class="menu-btn" alt="Permission" title="Permission">
					<i class="fa fa-cog"></i>
					<span class="d-none d-md-block ">Permissions<i class="fas fa-chevron-down drop-down"></i>
					</span>
				</a>
				<div class="sub-menu">
					<a href="{{ path('app_permission') }}" alt="Liste" title="Liste">
						<i class="fa fa-bars "></i>
						<span>Liste</span>
					</a>
					<a href="{{ path('app_permission_new') }}" alt="Ajouter" title="Ajouter">
						<i class="fa fa-plus "></i>
						<span>Ajouter</span>
					</a>
					
				</div>
			</li>
		</div>
	</div>
</aside>
