{% extends 'base.html.twig' %}

{% block title %}Struture | {{ parent() }}{% endblock %}

{% block body %}
<body class="bgStructure">

        {% block navbar %} 
			{% include "_partials/_navbarClient.html.twig" %}
        {% endblock %}

    <main class="container-fluid " id='backS'>

    {% if app.user %}
        <div class="d-flex justify-content-end align-item-center">
            <a class=' textGreen' alt="Vous êtes connecté en tant que {{ app.user.username }}" title="Vous êtes connecté en tant que {{ app.user.username }}"><i class="fas fa-user-circle  p-1"></i>{{ app.user.username }}</a>
        </div>
    {% endif %}

        <div class="row">
            <div class="col-12">
                <h2 class=" mb-4 mt-4 titleStructure">Fitness Drive <br>
                    {{structure.nameStructure}}</h2>
            </div>
        </div>

		{% include "structure/_show.html.twig" %}

		<a class="rocket textGreen back" href='#backS'>
			<i class="fa fa-rocket " alt="Retour en haut" title="Retour en haut"></i>
		</a>

    </main> 
</body>
{% endblock %}




