{% extends 'admin/index.html.twig' %}

{% block title %}
	Utilisateur |
	{{ parent() }}
{% endblock %}
{% block javascripts %}
	{{parent()}}

	<!-- My JS -->
	{# {{ encore_entry_script_tags('displayPassword') }} #}

{% endblock %}

{% block body %}
	{% block header %}
		{{parent()}}
	{% endblock  %}

	<main class="main-container col-12">

		{% block Breadcrumb %}
			<section>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item back">
							<a href="{{ path('app_admin') }}" alt="Retour liste Franchise | Accueil" title="Retour liste Franchise | Accueil">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_user_list') }}">Liste des Utilisateurs</a>
						</li>
						
						<li class="breadcrumb-item active" aria-current="page">Modifier un Utilisateur</li>
					</ol>
				</nav>
			</section>
		{% endblock  %}

		<h2 class="titleIndex m-5 ">Modifier un compte de connexion</h2>

		<section class="form">
			{{ include ("admin/user/_formUser.html.twig", {'button_label': 'Modifier'}) }}
		</section>

		<a class="rocket back" href='{{ path('app_user_list')}}'>
			<i class="fa fa-rocket" alt="Retour à la liste" title="Retour à la liste"></i>
		</a>
	</main>
{% endblock %}



