{% extends 'admin/index.html.twig' %}

{% block title %}Liste des Utilisateurs  | {{ parent() }} {% endblock %}

{% block javascripts %}

	{{parent()}}
	<!-- My JS -->
	{{ encore_entry_script_tags('user') }}

{% endblock %}


{% block body %}
<body>
	{% block header %} {{parent()}} {% endblock  %}

	<main class='main-container col-12'>

	{% block searchBar %}
		<section>
			<!-- Barre de recherche start-->
			<nav class="row">
				<div class="col-12 search">
					<input id="searchbarUser" class=" inputSearch mx-auto" type="text" placeholder="Chercher un Utilisateur " aria-label="Search">
					<input
					id="hidden" class=" inputSearch me-2" type="hidden" aria-label="hidden">
				</div>
			</nav>
			<!-- Barre de recherche end-->
		</section>
	{% endblock %}

		<section>
			<h2 class='titleIndex titleListUser '>{{ titlePage }}</h2>
				{% include "admin/user/_list.html.twig" %}
		</section>

	{% block paginated %}

		<section class='d-flex justify-content-center mt-5 '>
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-sm">

			{% for i in 1..((countUsers/30) | round(0, 'ceil')) %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_user_list', {page:i})}}">{{i}}</a>
					</li>
			{% endfor %}

				</ul>
			</nav>
		</section>

	{% endblock  %}

		<a class="rocket back" href='{{ path('app_user_list')}}'>
			<i class="fa fa-rocket" alt="Retour à la liste" title="Retour à la liste"></i>
		</a>


	</main>
</body>
{% endblock %}



	

