{% extends 'admin/index.html.twig' %}

{% block title %}Liste des Utilisateurs  | {{ parent() }} {% endblock %}

{% block javascripts %}

	{{parent()}}
	<!-- My JS -->
	{{ encore_entry_script_tags('user') }}


{% endblock %}


{% block body %}
<body>
	{% block header %} {{parent()}} {% endblock  %}

	<main class='main-container col-12'>

	{% block Breadcrumb %}
		<section>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item back">
						<a href="{{ path('app_admin') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Liste des Comptes de connexion</li>
				</ol>
			</nav>
		</section>
	{% endblock  %}

{% block searchBar %}
	<section>
		<!-- Barre de recherche start-->
		<nav class="row">
			<div class="col-12">

				<input id="searchbarUser" class=" inputSearch p-2" type="text" placeholder="Chercher un compte de connexion" aria-label="Search">
				<input
				id="hidden" class=" inputSearch me-2" type="hidden" aria-label="hidden">
			{# <button class="btn btnSearch" type="submit" alt="Cliquer pour rechercher" title="Cliquer pour rechercher"><i class="fas fa-search"></i></button> #}


			</div>
		</nav>
		<!-- Barre de recherche end-->
	</section>
{% endblock %}


		<h2>Liste des Comptes de connexion</h2>
		
		<section>
			<table class="table table-hover users d-block">

				<thead>
					<tr class="table-dark"></tr>

					<th scope="col">Id</th>
					<th scope="col">Titre</th>
					<th scope="col">Email</th>
					<th scope="col"></th>
				</thead>
				
				<tbody >
			{% for user in users %}
					<tr class='users'>
						<th scope="row">{{user.id}}</th>
						<td>{{user.username}}</td>
						<td>{{user.email}}</td>
						<td>
							<a type="button" class="btn-sm btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
						</td>
					</tr>
			{% endfor %}
				</tbody>
			</table>
		<section>

	{% block paginated %}


		<section class='d-flex justify-content-center'>
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-sm">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>

			{% for i in 1..((countUsers/9) | round(0, 'ceil')) %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_user_list', {page:i})}}">{{i}}</a>
					</li>
			{% endfor %}

					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</section>

	{% endblock  %}



	</main>
</body>
{% endblock %}



	

