{% extends 'admin/index.html.twig' %}

{% block title %} Utilisateur |
	{{ parent() }}
{% endblock %}
{% block javascripts %}
	{{parent()}}

	<!-- My JS -->
	{{ encore_entry_script_tags('displayPassword') }}

{% endblock %}

{% block body %}
{% block header %}
	{{parent()}}
{% endblock  %}

	<main class="main-container col-12">

		{% block Breadcrumb %}
		<section>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path('app_admin') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ path('app_user_list') }}">Liste des Utilisateurs</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Créer un Utilisateur</li>
				</ol>
			</nav>
		</section>
		{% endblock  %}

		<h2 class="titleIndex titleListUser">{{titlePage}}</h2>

		<div class="boxUser">
				<p class=''>Chaque Franchise ou structure doit avoir <strong>un compte de connexion</strong>
				</p>
		</div>

		<div class="boxUser">
			<p class=""> La création d'un compte de connexion est <u>obligatoire</u> pour pourvoir créer la <span>Franchise</span> ou la <span>Structure</span> mais aussi pour qu'elles puissent se connecter à leur compte.</p>			
			<p> Un email leur sera envoyé automatiquement avec leur id et mpd.</p>
		</div>

		<section class="form">
			{% include "admin/user/_formUser.html.twig" %}
		</section>

		<a  class="rocket back" href='{{ path('app_user_list')}}'>
			<i class="fa fa-rocket" alt="Retour à la liste" title="Retour à la liste"></i>
		</a>


    </main>
{% endblock %}

