{% extends 'admin/index.html.twig' %}

{% block title %} Utilisateur |
	{{ parent() }}
{% endblock %}
{% block javascripts %}
	{{parent()}}

	<!-- My JS -->
	{{ encore_entry_script_tags('displayPassword') }}

{% endblock %}

{% block body %}
{% block header %}
	{{parent()}}
{% endblock  %}

<main class="main-container col-12">

{% block Breadcrumb %}
    <section>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('app_user_list') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Créer un Utilisateur</li>
            </ol>
        </nav>
    </section>
{% endblock  %}

<h2 class="text-center">{{titlePage}}</h2>

	<div class="boxUser">
		<ul style="list-style-type: disc; ">
			<li>Chaque Franchise ou structure doit avoir : <strong><br>
						* Un compte de connexion
					</strong>
			</li>
			
		</ul>
	</div>

	<div class="boxUser">
		<p class=""> La création d'un compte de connexion est obligatoire pour pourvoir créer la <span>Franchise</span> ou la <span>Structure</span> mais aussi pour que la franchise ou la structure puissent se connecter à leur compte.</p>			
		<p> Un email leur sera envoyé automatiquement avec leur id et mpd.</p>
	</div>

		{% include "admin/user/_formUser.html.twig" %}

<a  class="rocket back" href='{{ path('app_user_list')}}'>
	<i class="fa fa-rocket" alt="Retour à la liste" title="Retour à la liste"></i></a>


    </main>
{% endblock %}

