{% extends 'base.html.twig' %}

{% block title %} Connection | {{ parent()}}{% endblock %}


{% block javascripts %} {{parent()}} {% endblock %}
{% block body %}
    <body class='body_login'>

        <header class='header_login'>
        {% block navbar %} 
            <nav class="navbar navbar- bg- nav_login">
                <div class="container-fluid">
                    <a class="navbar-logo" href="#">
                        <h5 class="title_home" >Logo</h5></a>
                        {# <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top"> #}
                    <a class="navbar-brand" href="#">
                        <h1 class="title_home" >Fitness Drive</h1>
                    </a>
                </div>
            </nav>
        {% endblock %}
        </header>

        <main class='main_login'>
            <div class='row'>
                {# <div class='col-12'> #}
                    <form action="" method="post">
                        {% if error %}
                            <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3 text-white">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnection</a>
                            </div>
                        {% endif %}
                        <div class="box"> 
                            <legend><h2 class="h2_login">Se connecter</h2></legend>
                
                            <div class="mb-3 px-5">
                                <label for="inputEmail" class="form-label">Identifiant</label>
                                <input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputEmail" aria-describedby="email" placeholder="exemple@exemple.fr" autocomplete="email" required autofocus>
                            </div>

                            <div class="mb-3 px-5">
                                <label for="inputPassword" class="form-label">Mot de Passe</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Mot de passe" autocomplete="current-password" required />
                                    <span role="button" class="input-group-text">
                                        <i class="bi bi-eye" id="togglePassword"></i>
                                    {# <span role="button" class="input-group-text"> #}
                                        {# <i class="bi bi-eye" id="eye" ></i> #}
                                    </span> 
                                    {# onclick="togglePassword()"  #}
                                </div>
                            </div>
                            {# <input type="hidden" name="_taget_path" value="/">
                            <input type="hidden" name=""> #}

                            <button class="btn mx-auto" type="submit">Connexion</button>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>

                    </form>
                {# </div> #}
            </div>
        </main>   
    </body>
{% endblock %}
