{% extends 'base.html.twig' %}

{% block title %} Connexion | {{ parent()}}{% endblock %}


{% block javascripts %}
    {{parent()}}	
    
    <!-- My JS -->
{{ encore_entry_script_tags('displayPassword') }}

{% endblock %}

{% block body %}
<body class='body_login'>

    <header class='headerLoginHome'>
    {% block navbar %} 
        <nav class="navbar navbar-dark shadow-5-strong navLoginHome">
            {# <div>
                <img class="logo image-fluid" src="{{ asset('build/images/logo.png') }}" width="80px" height="80px" alt="Logo FitnessDrive" title="Logo FitnessDrive">
            </div> #}
            <div class="titleHome">
                <h1 class="navbar-brand titleCustom">Fitness<span class="drive">Drive</span></h1>
            </div>    
        </nav>
    {% endblock %}
    </header>

    <main class='main_login'>
        <div class='row'>
            <div class='col-12'>
                <form action="" method="post">
                    {% if error %}
                        <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <div class="boxLogin"> 
                        <h2 class="h2_login">Se connecter</h2>
            
                        <div class="mb-3 px-5">
                            <label for="inputEmail" class="form-label">Identifiant</label>
                            <input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputEmail" aria-describedby="email" placeholder="exemple@exemple.fr" autocomplete="email" required autofocus>
                        </div>

                        <div class="mb-3 px-5">
                            <label for="inputPassword" class="form-label">Mot de Passe</label>
                            <div class="input-group">
                                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Mot de passe" autocomplete="current-password" required />
                                <span role="button" class="input-group-text">
                                    <i class="bi bi-eye" title="Affichez le mot de passe" alt="Affichez le mot de passe"  id="togglePassword"></i></span>
                                
                            </div>
                        </div>

                        <button class="btn  btnCustom mb-4 " type="submit" >Connexion</button>
                        
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                </form>
            </div>
        </div>
    </main>   
</body>
{% endblock %}
