{% extends 'base.html.twig' %}

{% block title %} Accueil | {{ parent() }} {% endblock %}

{% block body %}
    <body class="body_home">

        <header class="header_home">
        {% block navbar %} 
            <nav class="navbar navbar-dark shadow-5-strong navHome ">
                <div>
                    <img class="logo image-fluid" src="{{ asset('asset/images/logo.png')}}" width="80px" height="80px" alt="Logo FitnessDrive" title="Logo FitnessDrive" srcset="">
                </div>
                
                <div class="titleHome">
                    <h1 class="navbar-brand titleCustom">Fitness <span class="drive">Drive</span></h1>
                </div>    
            </nav>
        {% endblock %}
        </header>
{# <pre>
    {{ dump(app.user.id) }}
</pre> #}

{# {% for user in users %}
    {{ dump(user) }}
    
{% endfor %} #}

{# <pre>
    {{ dump(partner) }}
</pre> #}


    <main class="" >
        <div class="row">
            <div class="col-12 box_center">
                <h2 class="h2Home">Gestion des Franchises et des structures</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
        
    {% if app.user %}
                <h3 class=''>Bienvenue {{ app.user.username }}</h3>

        {% if is_granted('ROLE_ADMIN') %}
<p>je suis un admin</p>
                <a class="" title='' href="{{ path('app_admin') }}">Cliquez ici pour accéder au Panel Administrateur</a>
        {% endif %}


        {% if is_granted('ROLE_PARTNER') %}
<p>je suis un partner</p>
            {% for partner in partners %}
                
                <a class="" title='' href="{{ path('app_partner_show', {'id': partner.id}) }}"> Cliquez ici pour accéder à votre compte </a>
                
            {% endfor %}
        {% endif %}
{# mercredi 26 octobre 23:41 =>ok #}

        {% if is_granted('ROLE_STRUCTURE') %}
<p>je suis structure</p>
            {% for structure in structures %}

                <a class="" title='' href="{{ path('app_structure_show', {'id': structure.id}) }}">Cliquez ici pour accéder à votre compte</a>
            {% endfor %}
        {% endif %}


{% endif %} 

            </div>
        </div>  
    </main>
</body>
{% endblock %}