{% extends 'base.html.twig' %}

{% block title %} Accueil | {{ parent() }} {% endblock %}

{% block body %}
    <body class="body_home">

        <header class="header_home ">
        {% block navbar %} 
            <nav class="navbar navbar-dark shadow-5-strong navHome ">
                <div>
                    <img class="logo image-fluid" src="{{ asset('asset/images/logo.png')}}" width="80px" height="80px" alt="Logo FitnessDrive" title="Logo FitnessDrive" srcset="">
                </div>
                
                <div class="titleHome">
                    <h1 class="navbar-brand titleCustom">Fitness<span class="drive">Drive</span></h1>
                </div>    
            </nav>
        {% endblock %}
        </header>

    <main class="" >
        <div class="row">
            <div class="col-12 box_center">
                <h2 class="h2Home">Gestion des Franchises et des structures</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

    {% if app.user %}
                <h3 class=''>Bienvenue {{ app.user.username }}</h3>

        {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btnHome btn-sm " role="button" title="Connectez-vous " alt="Connectez-vous " href="{{ path('app_admin') }}">Connexion</a>
        {% endif %}


        {% if is_granted('ROLE_PARTNER') %}
            {% for partner in partners %}
                
                <a class="btn btn-sm btnHome" role="button" title="Connectez-vous " alt="Connectez-vous " href="{{ path('app_partner_show', {'id': partner.id}) }}">Connexion  </a>
                
            {% endfor %}
        {% endif %}

        {% if is_granted('ROLE_STRUCTURE') %}
            {% for structure in structures %}

                <a class="btn btn-sm btnHome" role="button" title="Connectez-vous " alt="Connectez-vous " href="{{ path('app_structure_show', {'id': structure.id}) }}">Connexion</a>
            {% endfor %}
        {% endif %}

    {% endif %} 
            </div>
        </div>  
    </main>
</body>
{% endblock %}