{% extends 'base.html.twig' %}

{% block title %}Franchise | {{ parent() }}{% endblock %}

{% block body %}
<body class="bgPartner">
    {% block navbar %}  
        {% include "_partials/_navbarClient.html.twig" %}
    {% endblock %}

    <main class="container-fluid" id='back'>
    {% if app.user %}
        <div class="d-flex justify-content-end align-item-center">
            <a class=' textGreen' alt="Vous êtes connecté en tant que {{ app.user.username }}" title="Vous êtes connecté en tant que {{ app.user.username }}"><i class="fas fa-user-circle  p-1"></i>
                {{ app.user.username }}</a>
        </div>
    {% endif %}

        <div class="row">
            <div class="col-12">
                <h2 class="titleStructure mt-3">FitnessDrive <br> {{partner.namePartner}}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4 class="titleStructure">Vos Structures</h4>
                    <!-- Display the structures du partner -->
                    {% include "partner/_listStructures.html.twig" %}
            </div>
        </div>

        <a class="rocket back textGreen" href='#back'>
            <i class="fa fa-rocket" alt="Retour en haut" title="Retour en haut"></i>
        </a>

    </main> 
</body>
{% endblock %}




