{% extends 'base.html.twig' %}

{% block title %}Franchise | {{ parent() }}{% endblock %}

{% block body %}
<body>
    {% block navbar %}  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<h1>Fitness Drive</h1>
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link " href="#">Home</a>					
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_logout') }}" class="nav-link">Déconnection</a>
				</li>
			</ul>

		</div>


	</div>
</nav>

    {% endblock %}

<pre>
    {{ dump(partner) }}
</pre>


    <main class="container-fluid">
    {% if app.user %}
        <div class="d-flex justify-content-end align-item-center">
            <a class=' text-dark' alt="Vous êtes connecté en tant que {{ app.user.username }}" title="Vous êtes connecté en tant que {{ app.user.username }}">
                <i class="fas fa-user-circle text-dark"></i>
                {{ app.user.username }}</a>
        </div>
    {% endif %}

        <div class="row">
            <div class="col-12">
                <h2>Votre Franchise</h2>
                <h3>Fitness Drive - {{partner.namePartner}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Vos Structures</h4>

                    {% for structure in structures %}

                        <!-- Display the structures du partner -->
                        {% include "partner/_listStructures.html.twig" %}

                    {% else %}
                    <div class="alert alert-success">
                        <p>
                            Vous n'avez aucune structure !</p>
                    </div>

                    {% endfor %}
            </div>
        </div>

    </main> 

</body>
{% endblock %}




