{% extends 'base.html.twig' %}

{% block title %}Franchise | {{ parent() }}{% endblock %}



{% block body %}

{{ parent()}}

<main class="container">

    <h2>Bienvenue sur votre compte   CLIENT</h2>

    <p>Voici vos structures et vos permissions</p>



    {# <h2>Le nom est : </h2>
        <p>{{ client.user.username }}</p>

    <h3>Son email est : </h3>
        <p>{{ client.user.email }}</p>

    <h3>Nom de la franchise :</h3>
        <p>{{client.name }}</p>
 #}


</main> 
{% endblock %}




