{% extends 'partner/index.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}
{% block javascripts %}
	{{parent()}}
	<!-- My JS -->
	{# {{ encore_entry_script_tags('displayPassword') }} #}
{% endblock %}

{% block body %}
<body class="bgStructure">
	
	{% block header %}
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">
						<h1 class="titleCustom text-white">Fitness<span class="drive">Drive</span>
						</h1>
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{# Back Home #}
							<li class="nav-item">
							{% if is_granted('ROLE_STRUCTURE') %}
								{% for structure in structures %}
									<a class="nav-link " href="{{ path( 'app_structure_show', {'id': structure.id}) }}">Accueil</a>
								{% else %}
									<div class="alert alert-success text-center">
										<p>Oups une erreur est survenue !</p>
									</div>
								{% endfor %}
							{% endif %}
							</li>
							
							{# CHANGE ID + MDP #}
							<li class="nav-item">
							{% if is_granted('ROLE_STRUCTURE') %}
								{% for structure in structures %}
									<a class="nav-link " href="{{ path( 'app_structure_edit', {'id': structure.id}) }}">Profil</a>
								{% else %}
									<div class="alert alert-success text-center">
										<p>Oups une erreur est survenue !</p>
									</div>
								{% endfor %}
							{% endif %}
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
	{% endblock  %}

	<main class="container-fluid col-12">
	{% if app.user %}
		<div class="d-flex justify-content-end align-item-center">
			<a class=' textGreen' alt="Vous êtes connecté en tant que {{ app.user.username }}" title="Vous êtes connecté en tant que {{ app.user.username }}">
				<i class="fas fa-user-circle "></i>
				{{ app.user.username }}</a>
		</div>
	{% endif %}

		<h2 class="titleStructure m-4 " id="backS">Modifier Votre compte de connexion</h2>

		<section class="form">
			{{ include ("structure/user/_formUser.html.twig", {'button_label': 'Modifier'}) }}
		</section>

		<a class="rocket back textGreen" href='#backS'>
			<i class="fa fa-rocket" alt="Retour " title="Retour "></i>
		</a>
	</main>
</body>

{% endblock %}



