{# INCLUDE DS SHOWPARTNER #}
        <div class="d-flex justify-content-around flex-wrap container mt-5">
        
            
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">

                            {% if structure %}
                                <h5 class="card-title">Fitness Drive - {{structure.partner.namePartner}} - {{structure.nameStructure}}  </h5>
                                <p class="">Gérer par {{structure.user.username}} </p>
                        
{{ dump(structure.id)}}
{{ dump(structure.id)}}
{{ dump(structure.partner.namePartner)}}
{{ dump(structure.partner.id)}}
                            <p class="card-text"> 
                                <ul>
                                    <li>
                                        <a href="mailto:{{structure.user.email}} "><i class="bi bi-envelope-fill p-2"></i>{{structure.user.email}}</a>
                                    </li>
                                    <li>
                                        <a href="tel:{{structure.phone}}"><i class="bi bi-telephone-fill p-2"></i>{{structure.phone}}</a>
                                    </li>
                                </ul>
                            </p>
                        </div>

                        <div class="card-footer">
                            <a href=" {{ path( 'show-structure', {'id': structure.id}) }} " type="button" class="btn-sm btn-success">Détail</a>
                            <a href=" # " type="button" class="btn-sm btn-warning">Modifier</a>                        
                        </div>
                    </div>
                {% else %}
                    <p>Oups, une erreur est survenue !!!</p>
                {% endif %}
            
        </div>


    

    