{% extends 'admin/index.html.twig' %}

{% block title %}Création - Etape II | {{ parent() }}{% endblock %}

{% block stylesheets %} 

        {{ parent() }}
        {# {{ encore_entry_link_tags('new_user') }} #}

{% endblock %}

{% block javascripts %}
            {{ parent() }}
        {# {{ encore_entry_script_tags('test') }}  #}
{% endblock %}





{% block body %}
{% block header %} {{parent()}} {% endblock  %} 



<main class="container">

    <h2>Création de la structure</h2>


{# {{form_start(formUser)}} #}
{{form_start(formStructure)}}
{{form_rest(formStructure)}}
<button class="btn btn-success mx-auto" type="submit"> Enregister</button>
{# <button class="btn btn-success mx-auto" type="submit"> Ajouter une Structure</button> #}





</main> 
{% endblock %}




