{% extends 'admin/index.html.twig' %}

{% block title %}Création - Etape I | {{ parent() }}{% endblock %}


{% block stylesheets %} 

        {{ parent() }}
        {# {{ encore_entry_link_tags('new_user') }} #}

{% endblock %}
{% block javascripts %}
            {{ parent() }}
        {# {{ encore_entry_script_tags('app') }}  #}
{% endblock %}
{% block body %}
{% block header %} {{parent()}} {% endblock  %}  

    <main class="container">
        {% if editMode %}

            <h1 class="tiltle_h1_form">Modification de {{ h1Edit }}</h1>

                <h2>Etape I</h2>
                    <p> Détailler les étapes + combien d'étape, Peut etre faire soit un fil ariane ou autre...
        {% else %}
                
            <h1 class="tiltle_h1_form">Création d'un nouveau compte de connexion </h1>

                {# color: #0b6e40 ; #}
                    <ul class="" style="list-style-type: disc; ">
                        <li>Pour chaque utilisateur</li>
                            <ul>
                                <li>* Franchise </li>
                                    
                                <li>* Structure </li>
                            </ul>
                    </ul>
                <p>Ce compte de connexion est obligatoire pour pourvoir se connecter à leur compte.</p>
                <p> Un email leur sera envoyé automatiquement avec leur id et mpd.</p>

        {% endif %}

                    <button id='test' onclick='show()' class="btn mx-auto" type="submit">test alert </button>


    <!-- *FORMULAIRE LIER A ENTITY USER 
        *ROLE PARTNER
    -->

    {# A voir pourquoi ca ne marche pas #}
        {# {% for messgae in app.flashes('success') %}
            <div class ='alert alert-success' role='alert'>
                <p> {{message}} </p>
            </div>
        {% endfor %}
    #}

    {{form_start(formUser)}}
            <fieldset>
                <legend> Compte de connexion </legend>

                    <div class="form-group">
                        {{ form_row(formUser.username,{'label':'Nom','attr': {'placeholder':'Nom de l\'utilisateur'}}) }}
                    </div>   

                    <div class="form-group">
                        {{ form_row(formUser.email, {'label':'Email','attr': {'placeholder':'Email de l\'utilisateur'}}) }}
                    </div>      

                    <div class="form-group">
                        {{ form_row(formUser.password, {'label':'Mot de passe','attr': {'placeholder':''}}) }}
                        {# <i class="bi bi-eye-slash"></i>             #}
                        {# <input type="checkbox" id="togglePassword" onclick="displayPassword()">
                        Afficher le Mot de passe #}
                    </div>         
                            
                    <div class="form-group">
                        {{ form_row(formUser.confirmPassword, {'label':'Confirmation de votre mot de passe','attr': {'placeholder':''}}) }}
                    </div>                               
                    <div class="form-group">
                        {{ form_row(formUser.roles, {'attr': {'placeholder':''}}) }}
                    </div>                               
                        {# <button class="btn btn-primary" type="submit">Générer </button>"#}

                    <button class="btn mx-auto" type="submit">
                        
                        {% if editMode %}
                            Enregistrer les modifications
                        {% else %}
                            Ajouter
                        {% endif %}
                    
                    </button>
            </fieldset>
        {{form_end(formUser)}}
        

    </main> 
{% endblock %}



