{% extends 'admin/index.html.twig' %}

{% block title %}Utilisateur | {{ parent() }}{% endblock %}

{% block body %}
{% block header %} {{parent()}} {% endblock  %}  

    <main class="main-container col-12">

    {% block Breadcrumb %}
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_admin') }}">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Créer un Utilisateur</li>
                </ol>
            </nav>
        </section>
    {% endblock  %}


    {{ include('_partials/_modalConfirm.html.twig') }}

        {% if editMode %}
            <h1 class="">Modifier de {{ h1Edit }}</h1>

                <h2>Etape I</h2>
                    
        {% else %}
                
            <h1 class="">Création d'un nouveau compte de connexion </h1>

                {# color: #0b6e40 ; #}
            <ul class="" style="list-style-type: disc; ">
                <li>Pour chaque utilisateur</li>
                    <ul>
                        <li>* Franchise </li>
                            
                        <li>* Structure </li>
                    </ul>
            </ul>

            <div class="box1"
                <p>La création d'un compte de connexion est obligatoire pour pourvoir créer la
                <span>Franchise</span> ou la <span>Structure</span> mais aussi pour se connecter à leur compte.</p>
            </div>

            <div class="box1">
                <p> Un email leur sera envoyé automatiquement avec leur id et mpd.</p>
            </div>

        {% endif %}

                    

    <!-- *FORMULAIRE LIER A ENTITY USER 
        *ROLE PARTNER
    -->

    {# A voir pourquoi ca ne marche pas #}
        {# {% for messgae in app.flashes('success') %}
            <div class ='alert alert-success' role='alert'>
                <p> {{message}} </p>
            </div>
        {% endfor %}
    #}


    {{form_start(formUser, { 'attr': {'id': 'user'} })}}
            <fieldset>
                <legend> Compte de connexion </legend>

                    <div class="form-group">
                        {{ form_row(formUser.username,{'label':'Nom','attr': {'placeholder':'Nom de l\'utilisateur'}}) }}
                    </div>   

                    <div class="form-group">
                        {{ form_row(formUser.email, {'label':'Email','attr': {'placeholder':'Email de l\'utilisateur'}}) }}
                    </div>      

                    <div class="form-group">
                        {{ form_row(formUser.password, {'label':'Mot de passe','attr': {'placeholder':''}}) }}
                        {# <i class="bi bi-eye-slash"></i>             #}
                        {# <input type="checkbox" id="togglePassword" onclick="displayPassword()">
                        Afficher le Mot de passe #}
                    </div>         
                            
                    <div class="form-group">
                        {{ form_row(formUser.confirmPassword, {'label':'Confirmation de votre mot de passe','attr': {'placeholder':''}}) }}
                    </div>                               
                    <div class="form-group">
                        {{ form_row(formUser.roles, {'attr': {'placeholder':''}}) }}
                    </div>                               
                        {# <button class="btn btn-primary" type="submit">Générer </button>"#}

                    <button class="btn mx-auto" type="submit">
                        
                        {% if editMode %}
                            Enregistrer les modifications
                        {% else %}
                            Ajouter
                        {% endif %}
                    
                    </button>
            </fieldset>
        {{form_end(formUser)}}
        
{# <button id='test' data-bs-toggle="modal" data-bs-target="#test" class="btn mx-auto" type="submit">test alert </button> #}

    </main> 
{% endblock %}



