{% extends 'admin/index.html.twig' %}

{% block title %}Franchise | {{ parent() }}{% endblock %}


{% block body %}

{% block header %} {{parent()}} {% endblock  %}  

    <main class="main-container col-12">

    {% block Breadcrumb %}
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Accueil</a></li>

                    <li class="breadcrumb-item active" aria-current="page">
                {% if editMode %}
                    Modifier une Franchise
                    {% else %}
                        Créer une Franchise
                {% endif %}
                    </li>

                </ol>
            </nav>
        </section>
    {% endblock  %} 


        {% if editMode %}
            <h1 class="  ">Modifier la Franchise de<span>{{ partner.namePartner }}</span>
            </h1>
        {% else %}
            <h1>Créer la Franchise</h1>
        {% endif %}

{{form_start(formpartner)}}
{{form_rest(formpartner)}}

    <button class="btn btn-success " type="submit"> 
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter
        {% endif %}
    </button>

    </main> 
{% endblock %}

