{% extends 'base.html.twig' %}

{% block title %}Admin | {{ parent() }} {% endblock %}



{% block body %} 

    {% block header %} 
        <header>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                        <div class="container-fluid">
                            <a class="navbar-brand" href="#"><h1>Fitness Drive</h1></a>

                    {% if app.user %}
                        <h2 class='text-light'>Bienvenue
                        {{ app.user.username }}
                        </h2>
                    {% endif %}


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{{ path('app_admin') }}">Home</a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Compte de connexion
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="{{ path('user_new') }}">Créer</a></li>

                                            <li><a class="dropdown-item" href="#">Modifier</a></li>
                                        </ul>
                                    </li>                                    
                                    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Franchise
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="{{ path('new_partner') }}">Créer</a></li>
                                            {# <li><hr class="dropdown-divider"></li> #}
                                            <li><a class="dropdown-item" href="#">Modifier</a></li>
                                        </ul>
                                    </li>                                    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Structure
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="{{ path('new_structure') }}">Créer</a></li>
                                            {# <li><hr class="dropdown-divider"></li> #}
                                            <li><a class="dropdown-item" href="#">Modifier</a></li>
                                        </ul>
                                    </li>                                    
                                    <li class="nav-item">
                                    <a href="{{ path('app_logout') }}" class="nav-link">Déconnection</a>
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </nav>
                </header>
                                

    {% endblock  %} 


    <main class="container-fluid">

        <div class=" d-flex justify-content-around">
            <p>Nombre Total de Clients = {{ countPartners }}   </p>
            <p>Nombre Total de Structures =  {{ countStructures }}  </p>
        </div>

        <nav class="d-flex justify-content-end">
            <div class="col-10">
                <form class="d-flex ">
                    <input class="form-control me-2" type="search" placeholder="Text ici" aria-label="Search">
                    <button class="btn btn-success btn-sm" type="submit">Rechercher</button>
                </form>
            </div>
        </nav>



        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-around ">
                        <h2> {{ titleIndex }}</h2>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Franchise Active</label>
                            </div>
                    </div>

                {% include "admin/_listpartner.html.twig" %}

                </div>
            </div>
        </div>
    </main>

{% endblock %}

