{% extends 'base.html.twig' %}

{% block title %}Admin | {{ parent() }} {% endblock %}

{% block javascripts %}
	
	{{parent()}}
	
{% endblock %}



{% block body %} 
<body >

{% block header %}
<!-- wrapper end -->
	<div class="wrapper">

		<header>
<!-- header menu start -->

		{% block navbar %}

			{% include "_partials/_headerAdmin.html.twig" %}

		{% endblock %}
<!-- header menu end -->
		</header>

<!-- sidebar start -->

		{% block aside %}

		{% include "_partials/_sidebarAdmin.html.twig" %}


		{% endblock %}
<!-- sidebar end -->

	</div>
<!-- wrapper end -->
	<!-- main container start -->
{% endblock %}

<main class='main-container col-12'>

	<section>
		<div class="row">
			<div class='count col-12'>
				<div>
				{% if app.user %}
					<span class=''>Bienvenue
						{{ app.user.username }}
					</span>
				{% endif %}
				</div>
				<div>
					<span class='total'>Total :
						{{ countPartners }} Franchises | 
						{{ countStructures }} Structures
					</span>
			</div>
		</div>
	</section>

	<section>
		<!-- Barre de recherche start-->
		<nav class="row">
			<div class="col-12">
				<form class="search form-group ">
					<input id="searchbar" onkeyup="search_animal()" class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
					<button class="btn btn-sm" type="submit">Rechercher</button>

				</form>
			</div>
		</nav>
		<!-- Barre de recherche end-->
	</section>
{# A VOIR SI JE LE MET DS CARDS #}
	<section class="">
		<div class="row">
			<div class="col-12">
				<h2 class='titleIndex'> {{ titleIndex }}</h2>

				<div class="items_check">
					<a class='active item_check  check' data-name="all" href='#'>Toutes</a>
					<a class='item_check check' data-name="active" href='#'>Active</a>
					<a class='item_check check' data-name="inactive" href='#'>Inactive</a>
				</div>
			</div>
		</div>

		<!-- A VOIR SI COMMUTATEUR OU LIEN -->
				{# <div class="d-flex justify-content-around ">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
							<label class="form-check-label" for="flexSwitchCheckChecked">Franchise Active</label>
						</div>
				</div> #}
	</section>
	<section>
			{% include "_partials/_listpartner.html.twig" %}
	</section>
		
</main>



<!-- main container end -->

    </body>
{% endblock %}

