{% extends 'base.html.twig' %}

{% block title %}Admin | {{ parent() }} {% endblock %}

{% block javascripts %}
	
	{{parent()}}

<!-- My JS -->
	{# {{ encore_entry_script_tags('partner') }} #}

{% endblock %}

{% block body %} 
<body>

{% block header %}
<!-- wrapper end -->
	<div class="wrapper">

		<header>
<!-- header menu start -->

		{% block navbar %}

			{% include "_partials/_headerAdmin.html.twig" %}

		{% endblock %}
<!-- header menu end -->
		</header>

<!-- sidebar start -->

		{% block aside %}

			{% include "_partials/_sidebarAdmin.html.twig" %}

		{% endblock %}
<!-- sidebar end -->

	</div>
<!-- wrapper end -->

	<!-- main container start -->
{% endblock %}
		<main class='main-container col-12'>

			<section>
				<div class="row">
					<div class='count col-12'>
						<span class='total'>Total :
							{{ countPartners }} Franchises | 
							{{ countStructures }} Structures
						</span>
					</div>
				</div>
			</section>

		<h2 class="titleIndex titleListUser">{{titlePage}}</h2>

		<div class="boxUser ">
			<p class=''>Chaque Franchise ou structure doit avoir
				<strong>un compte de connexion</strong>
			</p>
		</div>

		<div class="boxUser ">
			<p class="">
				La création d'un compte de connexion est
				<u>obligatoire</u>
				pour pourvoir créer la
				<span>Franchise</span>
				ou la
				<span>Structure</span>
				mais aussi pour qu'elles puissent se connecter à leur compte.</p>
			<p>
				Un email leur sera envoyé automatiquement avec leur id et mpd.</p>
		</div>



			<a class="rocket back" href='#accueil'><i class="fa fa-rocket" alt="Retour à la liste" title="Retour "></i>
			</a>

		</main>
</body>
{% endblock %}

