{% extends 'admin/index.html.twig' %}

{% block title %}Liste  | {{ parent() }} {% endblock %}

{% block body %} 
<body>
{% block header %} {{parent()}}  {% endblock  %}

    <main class='main-container col-12'>

    {% block Breadcrumb %}
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_admin') }}">Accueil</a>
                    </li>
                    <li class="breadcrumb-item "><a href="{{ path( 'show-partner', {'id': structure.partner.id}) }}">Franchise</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Détail de la Structure</li>
                </ol>
            </nav>
        </section>
    {% endblock  %}

            <h2> Détail de la Structure <span class="detail">{{structure.nameStructure}}</span> </h2>
        
        {% include "_partials/_structure.html.twig" %}


            <h2>Liste des permissions</h2>


{% for permission in permissions %}
	<p>
		{{permission.title}}
    </p>
	{% endfor %}




    </main>

</body>
{% endblock %}
    
        
    

    