{% extends 'admin/index.html.twig' %}

{% block title %}Liste  | {{ parent() }} {% endblock %}

{% block body %} 
{% block header %} {{parent()}}  {% endblock  %}
    <main class='container'>
        <h1> Détail de la franchise  </h1>
    <div class="d-flex justify-content-center mt-5">
        
                <div class="card" style="width: 18rem;">
                    <div class="card-body">

                        {% if partner %}
                            <h5 class="card-title">{{partner.namePartner}}  </h5>
                            <p class="">Gérer par {{partner.user.username}} </p>
                        {% endif %}

                        <p class="card-text">Ici la liste des structures avec <a href='#'>Voir détail</a> </p>
                        <span><a href="mailto:{{partner.user.email}} ">{{partner.user.email}}<a></span>
                        <span><a href="tel:{{partner.phone}} ">{{partner.phone}}<a></span>
                    
                    </div>

                    <div class="card-footer">
                        <a type="button" class="btn btn-warning" href="#">Modifier</a>
                    </div>
                </div>
        </div>

    </main>


{% endblock %}
    
        
    

    