{% for message in app.flashes('success') %}
	<div class="alert alert-success mt-4 text-center">
		{{ message }}
	</div>

{% endfor %}
{% for message in app.flashes('send') %}
	<div class="alert alert-success mt-4 text-center">
		{{ message }}
	</div>

{% endfor %}
{% for message in app.flashes('send2') %}
	<div class="alert alert-success mt-4 text-center">
		{{ message }}
	</div>

{% endfor %}


{{form_start(formStructure)}}

{{form_rest(formStructure)}}

	<button class="btn btnCustom mx-auto">{{ button_label|default('Enregistrer')}}</button>





