{# Include ds admin/showpartner and  #}

<div class="d-flex justify-content-center flex-wrap container mt-5"> 
    {% for structure in structures %}

    {# permet de display uniquement les structures du partner avec twig #}
        {# {% if structure.partner.id is same as partner.id %} #}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
    {# {{ dump(structure.isIsActive)}}
    {{ dump(structure.id)}}
    {{ dump(structure.partner.namePartner)}}
    {{ dump(structure.partner.id)}} #}

            {# {% if structure %}                #}
                <h5 class="card-title">Fitness Drive -  
                    {{structure.partner.namePartner}} - 
                    {{structure.nameStructure}}  
                </h5>
                <div class="d-flex justify-content-between">
                    <p class="text-muted">Gérer par {{structure.user.username}} </p>
                    {# {% endif %} #}

                    <!-- Structure Active ? -->
                    <p>{{ structure.isActive ? '<span class="p-2">Active</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-primary" viewbox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>' : '<span class="p-2">InActive</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-danger" viewbox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>'}}</p>
                </div>
                <p class="card-text"> 
                    <ul class='info'>
                        <li>
                            <a class="info" href="mailto:{{structure.user.email}} "><i class="fa fa-phone p-2" aria-hidden="true"></i>{{structure.user.email}}</a>
                        </li>
                        <li>
                            <a class="info" href="tel:{{structure.phone}}"><i class="bi bi-telephone-fill p-2"></i>{{structure.phone}}</a>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="card-footer d-flex justify-content-around">
                <a href=" {{ path( 'show-structure', {'id': structure.id}) }} " type="button" class="btn-sm btnDetail">Détail</a>
                <div class="vr"></div>
                <a href=" {{ path( 'structure_edit', {'id': structure.id})}} " type="button" class="btn-sm btn-warning">Modifier</a>                        
            </div>
        </div>
    {% else %}
        <div class="alert alert-success">
            <p>
                Vous n'avez aucune structure !</p>
        </div>

    {% endfor %}
</div>


    

    