{% extends 'admin/index.html.twig' %}

{% block title %}Liste  | {{ parent() }} {% endblock %}

{% block body %} 
<body>
{% block header %} {{parent()}}  {% endblock  %}

    <main class='main-container col-12'>

    {% block Breadcrumb %}
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_admin') }}">Accueil</a>
                    </li>
                    <li class="breadcrumb-item "><a href="{{ path( 'show-partner', {'id': structure.partner.id}) }}">Franchise</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Détail de la Structure</li>
                </ol>
            </nav>
        </section>
    {% endblock  %}

        <section>
            <h2 class="titleIndex mt-4" id="detailS"> Détail de la Structure <span >{{structure.nameStructure}}</span></h2>
            {% include "admin/structure/_structure.html.twig" %}
        </section>

<hr class="separator">

        <section>
            <h2 class="titleIndex mt-4">Liste des permissions</h2>

            {% for permission in permissions %}
            <div class="perms">
                <h5>
                    <strong>{{permission.title}}</strong>
                </h5>
                <p>
                {% if structure.isActive %}
                    <span class="">Active</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill text-primary " viewbox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>
                {% else %}
                    <span class="">InActive</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill text-danger" viewbox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>
                {% endif %}
                </p>
            </div>

            {% else %}
            <div class="alert alert-success text-center">
                <p>Vous n'avez aucune permission !</p>
            </div>
            {% endfor %}
        </section>

        <a class="rocket back" href='#detailS'>
            <i class="fa fa-rocket" alt="Retour à la liste" title="Retour "></i>
        </a>
    </main>

</body>
{% endblock %}
    





        
    

    