{% extends 'admin/index.html.twig' %}

{% block title %}Hello NewPermissionController!
{% endblock %}

{% block body %}
	{% block header %}
		{{ parent() }}

	{% endblock %}


	<main class='main-container col-12'>

    
    
		<h2>Liste des Permissions</h2>
            <table class="table table-hover">
                <thead>
                    <tr class="table-dark"></tr>

                        <th scope="col">Id</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
        {% for permission in permissions %}

                    <tr>
                        <th scope="row">{{permission.id}}</th>
                        <td>{{permission.title}}</td>
                        <td>{{permission.Description}}</td>
                        <td>
                            <a type="button" class="btn-sm btn-warning" href="{{ path('app_permission_edit', {'id': permission.id}) }}">Modifier</a>
                        </td>
                    </tr>
                    
    {% endfor %}
                </tbody>
            </table>

		


	</main>
{% endblock %}

