{% extends 'admin/index.html.twig' %}

{% block title %}Permission |
	{{ parent() }}
{% endblock %}

{% block javascripts %}

	{{parent()}}

	<!-- My JS -->
	{{ encore_entry_script_tags('perm') }}

{% endblock %}



{% block body %}
	{% block header %}
		{{ parent() }}

	{% endblock %}


	<main class='main-container col-12'>

    {% block Breadcrumb %}
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item back">
                        <a href="{{ path('app_admin') }}" alt="Retour liste Franchise | Accueil" title="Retour liste Franchise | Accueil">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="{{ path('app_permission') }}">Liste des Permissions</a>
                    </li>

                </ol>
            </nav>
        </section>
    {% endblock  %}
    <!-- SearchBar start-->
    {% block searchBar %}
        <section>
            <nav class="row">
                <div class="col-12 search">

                    <input id="searchbarPerm" class=" inputSearch mx-auto" type="text" placeholder="Chercher une permission" aria-label="Search">
                    <input id="hidden" class=" inputSearch me-2" type="hidden" aria-label="hidden">


                </div>
            </nav>
        </section>
    {% endblock %}
    <!-- SearchBar end-->

		<h2 class="titleIndex">{{ titlePage }}</h2>

        <section>
            {% for permission in permissions %}
                <div class="border perm ">
                    <h5>{{permission.id}} - 
                        <strong>{{permission.title}}</strong>
                    </h5>
                    <p class="">{{permission.description}}</p>
                        <a type="button" class="btn-sm mx-auto  btn-warning right" alt="Modifier la permission" title="Modifier la permission" href="{{ path('app_permission_edit', {'id': permission.id}) }}">Modifier
                        </a>
                </div>

            {% endfor %}
        </section>

{% block paginated %}

	{# CHAQUE PAGE A SA PAGINATION AVEC SES LIENS #}
	<section class='d-flex justify-content-center'>
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-sm">


				{% for i in 1..((countPermissions/ 20) | round(0, 'ceil')) %}

					<li class="page-item">
						<a class="page-link" href="{{ path('app_permission', {page:i})}}">{{i}}</a>
					</li>
				{% endfor %}

			</ul>
		</nav>
	</section>

{% endblock %}

        <a class="rocket back" href='{{ path('app_permission')}}'>
            <i class="fa fa-rocket" alt="Retour à la liste" title="Retour à la liste"></i>
        </a>


	</main>
{% endblock %}

