{% extends 'base.html.twig' %}

{% block title %}Création - Etape I | {{ parent() }}{% endblock %}


{% block stylesheets %} 

        {{ parent() }}
        {{ encore_entry_link_tags('new_user') }}

{% endblock %}

{% block body %}

    <main class="container">
        {% if editMode %}

            <h1 class="tiltle_h1_form">Modification de {{ h1Edit }}</h1>

                <h2>Etape I</h2>
                    <p> Détailler les étapes + combien d'étape, Peut etre faire soit un fil ariane ou autre...
        {% else %}
                
            <h1 class="tiltle_h1_form">Création d'un nouveau compte </h1>

                {# color: #0b6e40 ; #}
                    <ul class="" style="list-style-type: disc; ">
                        <li>Création d'un compte de connexion</li>
                            <ul>
                                <li>* A faire pour chaques nouvelles franchises ou structures : </li>
                                    <ul>
                                        <li>- Chaque franchise possède son email et son mot de passe. Le nom correspond au nom de la franchise.</li>
                                        <li>- Chaque structure possède son email et son mot de passe. Le nom correspond au nom de la structure. </li>
                                        
                                    </ul>
                                <li>* Tous les champs de ce formulaire sont obligatoires pour valider le nouveau compte. </li>
                            </ul>
                        <li> Cliquez sur Ajouter. </li>
                    </ul>
                A VOIR PAGE SUIVANTE : 
                        1. ATTERIT SUR LA PAGE DE LA FRANCHISE
                            a. SOIT ON REMPLI TT LES CHAMP POUR LA CREATION FRANCHISE
                            b. SOIT ON SELECTIONNE UNE FRANCHISSE DEJA EXISTANTE => puis création new structure

        {% endif %}



    <!-- *FORMULAIRE LIER A ENTITY USER 
        *ROLE PARTNER
    -->

    {# A voir pourquoi ca ne marche pas #}
        {# {% for messgae in app.flashes('success') %}
            <div class ='alert alert-success' role='alert'>
                <p> {{message}} </p>
            </div>
        {% endfor %}
    #}

    {{form_start(formUser)}}
            <fieldset>
                <legend> Informations Client </legend>

                    <div class="form-group">
                        {{ form_row(formUser.username,{'label':'Nom','attr': {'placeholder':'Nom du Gérant'}}) }}
                    </div>   

                    <div class="form-group">
                        {{ form_row(formUser.email, {'label':'Email','attr': {'placeholder':'Email du Gérant'}}) }}
                    </div>      

                    <div class="form-group">
                        {{ form_row(formUser.password, {'label':'Mot de passe','attr': {'placeholder':'Mot de passe du Gérant'}}) }}
                        {# <i class="bi bi-eye-slash"></i>             #}
                        {# <input type="checkbox" id="togglePassword" onclick="displayPassword()">
                        Afficher le Mot de passe #}
                    </div>         
                            
                    <div class="form-group">
                        {{ form_row(formUser.confirmPassword, {'label':'Confirmation de votre mot de passe','attr': {'placeholder':'Répétez votre mot de passe'}}) }}
                    </div>                               
                        {# <button class="btn btn-primary" type="submit">Générer </button>"#}

                    <button class="btn mx-auto" type="submit">
                        
                        {% if editMode %}
                            Enregistrer les modifications
                        {% else %}
                            Ajouter
                        {% endif %}
                    
                    </button>
            </fieldset>
        {{form_end(formUser)}}
        

    </main> 
{% endblock %}

{% block javascripts %}
            {{ parent() }}
        {{ encore_entry_script_tags('test') }} 
{% endblock %}


