{% extends 'admin/index.html.twig' %}

{% block title %}Franchise |
	{{ parent() }}
{% endblock %}


{% block body %}


	{% block header %}
		{{parent()}}
	{% endblock  %}

	<main class="main-container col-12">

		{% block Breadcrumb %}
			<section>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_admin') }}">Accueil</a>
						</li>

						<li class="breadcrumb-item active" aria-current="page">Modifier une Franchise
						</li>

					</ol>
				</nav>
			</section>
		{% endblock  %}

            <h1 class=" titleIndex ">Modifier la Franchise : <span>{{ partner.namePartner }}</span>
            </h1>


		{{ include ("admin/partner/_formPartner.html.twig", {'button_label': 'Modifier'}) }}


		<a class="rocket back" href='{{ path('app_admin')}}'>
			<i class="fa fa-rocket" alt="Retour à la liste" title="Retour "></i>
		</a>

	</main>
{% endblock %}

