{# CLIC SUR DETAIL ET ON ARRIVE ICI #}

{% extends 'admin/index.html.twig' %}

{% block title %}Liste  | {{ parent() }} {% endblock %}

{% block body %} 
<body>
    {% block header %} {{parent()}}  {% endblock  %}

    <main class='main-container col-12'>

    {% block Breadcrumb %}
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item back">
                        <a href="{{ path('app_admin') }}">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Détail de la Franchise</li>
                </ol>
            </nav>
        </section>
    {% endblock  %}

            <h2> Détail de la Franchise de  <span class="detail"> {{ partner.namePartner}} </span> </h2>
                {% include "admin/partner/_partner.html.twig" %}

                <h2>Liste des structures associées</h2>
                {# NE MARCHE PAS  #}
                {# {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %} #}
            
        
            {% include "admin/structure/_liststructure.html.twig" %}


            <h2>Permissions Globales</h2>


    </main>

</body>
{% endblock %}
    
        
    

    